* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "PTT Bold";
  src: url("fonts/PTT45Pride-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTT Regular";
  src: url("fonts/PTT45Pride-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-ptt-bold: "PTT Bold", sans-serif;
  --font-ptt-regular: "PTT Regular", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-ptt-regular);
  background-image: url("https://cdn.glitch.global/127696fc-6c34-436b-a1e2-3d67a03e9eda/bg%20blue.png?v=1738727040082");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
button,
p {
  font-family: var(--font-ptt-regular);
  text-wrap: balance;
}
h3 {
  font-family: var(--font-ptt-bold);
  text-wrap: balance;
}
.size-screen {
  width: 100%;
  /* max-width: 1024px; */
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* #info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-weight: bold;
} */

#wheel {
  margin-top: 195px;
  position: absolute;
  top: 90%;
  left: 50%;
  border-radius: 50%;

  /* opacity: 0; */
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* .internalBox {
            border: 4px solid black;
            font-size: 24px;
            width: 120px;
            height: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
        } */

/* .container {
  display: flex;
  flex-direction: row;
  height: 100vh;
} */

.smallBox {
  border: 1px solid black;
  padding: 1em;
}

.image-box {
  /* height: 170px; */
  height: 200px;

  /* width: 100%; 
   display: block;   make card  select wrong item on ios not sure why... */

  object-fit: contain;
  object-position: center;
  filter: drop-shadow(4px 6px 8px #00000074);
  border-radius: 15px;
}

#card-container {
  display: flex;
  height: 100vh;
  max-width: clamp(200px, 50%, 450px);
  width: 100%;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 100px;
  /* background-color: red; */
}
#card-container img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  place-self: center;

  /* 803*1223 */
}
.front-card {
  display: none;
  transform: rotateY(-90deg);
  /* filter: drop-shadow(4px 6px 8px #00000074);
  border-radius: 20px; */
}
.container-info {
  display: flex;
  /* background-color: red; */
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
}
.meaning,
.btn-meaning {
  position: absolute;
  top: 0;
}
.btn-meaning {
  pointer-events: none;
}
.meaning,
.name_card,
.btn-meaning {
  display: none;
  opacity: 0;
  text-align: center;
}
.name_card {
  font-size: 16px;
}
.meaning {
  font-size: 14px;
}
.btn-meaning {
  padding: 10px;
  border-radius: 10px;
}
.image-placeholder {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #666;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 320px) {
  .size-screen {
    /* background-color: rgb(255, 136, 0); */
    overflow: hidden;
  }
}
@media (min-width: 375px) {
  .size-screen {
    /* background-color: rgb(0, 0, 0); */
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .size-screen {
    /* background-color: rgb(4, 241, 24); */
  }
  #card-container {
    gap: 25px;
  }
  .name_card {
    font-size: 25px;
  }

  .meaning,
  .btn-meaning {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #card-container {
    gap: 30px;
  }
  .name_card {
    font-size: 30px;
  }

  .meaning,
  .btn-meaning {
    font-size: 25px;
  }

  #wheel {
    transform: scale(1.3);
  }
}
@media (orientation: landscape) {
  .meaning {
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  #card-container {
    max-width: 300px;
  }
}
